@charset "utf-8";
/* CSS Document */
html,body{
	height: 100%;
}
@font-face {
    font-family: 'maax-medium';
    src: url(../fonts/maax-webfont.woff2) format('woff2'),
         url(../fonts/maax-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}
.top-bar{
	background: #F5F5F5;
	padding: 15px 0px;
	display: flex;
}
.right-sec ul li{
	float: left;
}
.left-sec{
	width: 60%;
	display: flex;
}
.left-sec li{
	float: left;
	margin-left: 15px;
}
.top-bar li a{
	color: #666666;
	font-family: 'Manrope', sans-serif;
	font-weight: 600;
}
.top-bar li a:hover{
	text-decoration: none;
}
.top-bar p{
	color: #666666;
	font-family: 'Manrope', sans-serif;
	font-weight: 600;
}
.phone{
	position: relative;
	margin-left: 35px !important;
}
.phone:before{
	position: absolute;
	content: "";
	width: 21px;
	height: 21px;
	left: -18px;
	background: url(../images/phone.png) no-repeat;
	top: 1px;
}
.right-sec{
	width:40%;
}
.right-sec ul{
	float: right;
}
.right-sec li{
	margin-left: 20px;
}
.navbar-brand {
    float: left;
    height: 70px !important;
    padding: 0px 15px !important;
}
.navbar-nav {
    float: right !important;
	display: flex;
}
.navbar-default select{
	margin-top: 25px !important;
	margin-left: 15px !important;
	border-bottom: 0px !important;
	border: 0px !important;
}
.navbar-default{
	background: #fff;
	border: 0px !important;
	box-shadow: 0px 3px 12px #0000001A;
	padding: 15px 0px 15px 0;
	margin-bottom: 0px !important;
	position: relative;
	z-index: 1;
}
.navbar-nav > li > a{
	font-family: 'Manrope', sans-serif;
	color: #000 !important;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	padding-top:25px;
	padding-bottom: 25px;
}
.req-job a{
	border: 1px solid #E63232;
	padding-top: 12px !important;
    padding-bottom: 12px !important;
    top: 12px;
	color:#E63232 !important;
}
.right-secz{
	display: flex;
    position: relative;
    top: -5px;
}
.banner{
	background: url(../images/banner.jpg) no-repeat;
	background-size: cover;
	padding:100px 0px;
}
.banner h2{
	font-family: 'Manrope', sans-serif;
	color: #fff !important;
	font-weight: 700;
	font-size: 104px;
	letter-spacing: -1.66px;
}
.zz{
	padding-left: 10%;
	padding-right: 10%;
}
.banner .row{
	display: flex;
	align-items: center;
}
.banner p{
	color: #E0E0E0;
	font-size: 20px;
	font-family: 'Epilogue', sans-serif;
	font-weight: 400;
	line-height: 30px;
	margin-top: 15px;
}
.job-button{
	background: #E63232;
	padding: 12px 40px;
	margin-top: 40px;
	font-family: 'Manrope', sans-serif;
	color: #fff !important;
	font-weight: 600;
	font-size: 16px;
}
.what-we-do{
	padding: 80px 0px 50px 0px;
}
.what-we-do .row{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.what-we-do h3{
	font-family: 'Manrope', sans-serif;
	color:#2E328D;
	font-weight: 700;
	font-size: 42px;
	line-height: 52px;
}
.what-we-do p{
	color: #666666;
	font-size: 16px;
	font-family: 'Epilogue', sans-serif;
	font-weight: 400;
	line-height: 26px;
	margin-top: 15px;
	margin-bottom: 20px;
}
.what-we-do a{
	font-family: 'Manrope', sans-serif;
	font-weight: 700;
	color:#2E328D;
	font-size: 18px;
	letter-spacing: -0.11px;
	text-decoration: underline;
}
.inner-section{
	display: flex;
	background: #EBF6FA;
	padding: 20px 24px;
	border-radius: 10px;
	align-items: center;
	margin-bottom: 30px;
}
.inner-section p{
	font-size: 14px !important;
	line-height: 24px !important;
}
.inner-section img{
	border-radius: 12px;
}
.left-inner{
	width: 40%;
}
.right-inner{
	width: 60%;
}
.right-inner h4{
	font-family: 'Manrope', sans-serif;
	font-weight: 700;
	color:#000;
	font-size: 24px;
	letter-spacing: -0.14px;
}
.second-section{
	position: relative;
}
.mirror-image {
    position: absolute;
    left: -200px;
    top: 0;
}
.second-section h4{
	font-family: 'Manrope', sans-serif;
	font-weight: 700;
	color:#2E328D;
	font-size: 42px;
	line-height: 58px;
	letter-spacing: -0.25px;
}
.second-section p{
	color:#666666;
	font-size: 16px;
	font-family: 'Epilogue', sans-serif;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: -0.1px;
	padding-top: 30px;
}
.achievements{
	padding: 80px 0px;
}
.achievements .row{
	display: flex;
	align-items: center;
}
.achievements h4{
	font-family: 'Manrope', sans-serif;
	font-weight: 700;
	color:#2E328D;
	font-size: 42px;
	line-height: 58px;
	letter-spacing: -0.25px;
}
.achievements p{
	color:#666666;
	font-size: 16px;
	font-family: 'Epilogue', sans-serif;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: -0.1px;
	padding-top: 20px;
	padding-bottom: 40px;
}
.achievements h6{
	color: #666666;
	font-size: 22px;
	line-height: 32px;
	font-family: 'Epilogue', sans-serif;
	font-weight: 400;
	margin-top: 30px;
}
.achievements span{
	color: #00ADEF;
	font-family: 'Manrope', sans-serif;
	font-weight: 700;
	font-size: 72px;
	letter-spacing: -0.43px;
	margin-right: 15px;
}
.app-section{
	padding:40px 0px;
	background: url(../images/app-bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.app-section .row{
	display: flex;
	align-items: center;
}
.app-section h3{
	color: #000;
	font-family: 'Manrope', sans-serif;
	font-weight: 600;
	font-size: 60px;
	letter-spacing: 0px;
	margin-bottom: 20px;
}
.app-section p{
	color: #000;
	font-size: 18px;
	line-height: 28px;
	font-family: 'Epilogue', sans-serif;
	font-weight: 400;
}
.app-section p{
	width: 60%;
}
.app-button{
	margin-top: 35px;
	display: flex;
}
.app-button img{
	margin-right: 15px;
}
.footer-section{
	background: #1C1E52;
	padding: 60px 0px 30px 0px;
}
.footer-section p{
	font-size: 16px;
	color: #ccc;
	font-family: 'Epilogue', sans-serif;
	font-weight: 400;
	line-height: 26px;
	padding-bottom: 20px;
	padding-top: 20px;
	width: 80%;
}
.contactz h5{
	color: #fff;
	font-family: 'Manrope', sans-serif;
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 20px;
}
.contactz li{
	color: #CCCCCC;
	font-family: 'Epilogue', sans-serif;
	font-weight: 400;
	line-height: 26px;
	font-size: 16px;
	margin-bottom: 10px;
	list-style-type: none;
	padding-left: 25px;
}
.footer-phone{
	position: relative;
}
.footer-phone:before{
	position: absolute;
	content: "";
	background: url(../images/phone-white.png) no-repeat;
	width: 15px;
	height: 15px;
	left: 0px;
	top: 4px;
}
.footer-addr{
	position: relative;
}
.footer-addr:before{
	position: absolute;
	content: "";
	background: url(../images/map-pin.png) no-repeat;
	width: 13px;
	height: 16px;
	left: 0px;
	top: 4px;
}
.footer-mail{
	position: relative;
}
.footer-mail:before{
	position: absolute;
	content: "";
	background: url(../images/mail.png) no-repeat;
	width: 14px;
	height: 11px;
	left: 0px;
	top: 6px;
}
.social-icons li{
	float: left;
	margin-right: 20px;
}
.sm-botm li{
	margin-bottom: 5px !important;
	padding-left: 0px !important;
}
.sm-botm a{
	color: #ccc !important;
}
.copyright {
    background: #1C1E52;
    padding-bottom: 15px;
}
.copyright .container{
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.copyright p{
	text-align: center;
	color: #CCCCCC;
	font-family: 'Epilogue', sans-serif;
	font-weight: 400;
	padding-top: 15px;
}



.breadcrumb-sec{
	background: url(../images/breadcrumb-bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 222px;
	position: relative;
}
.breadcr-txt{
	position: absolute;
	bottom: 10%;
}
.breadcr-txt h4{
	color: #fff;
	font-family: 'Manrope', sans-serif;
	font-weight: 600;
	font-size: 42px;
	margin-bottom: 10px;
}
.breadcr-txt h6{
	color: #DBDBDB;
	font-size: 14px;
	font-family: 'Epilogue', sans-serif;
	font-weight: 400;
	line-height: 26px;
}
.breadcr-txt h6 a{
	color: #DBDBDB;
}
.about-first{
	display: flex;
	padding: 80px 0px;
	align-items: center;
}
.about-first-left{
	width: 50%;
	padding-left: 10%;
	padding-right: 5%;
}
.about-first-right{
	width: 50%;
}
.about-first-left h3{
	color: #2E328D;
	font-family: 'Manrope', sans-serif;
	font-weight: 700;
	font-size: 42px;
	letter-spacing: -0.42px;
}
.about-first-left p{
	color: #666666;
	font-size: 16px;
	font-family: 'Epilogue', sans-serif;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: -0.1px;
	margin-top: 20px;
}
.left-val{
	padding-left: 5% !important;
	padding-right: 10% !important;
}
.top-vv{
	padding-top: 0px !important;
}
.abt-achievements-section{
	background: url(../images/achievements-bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	padding: 50px 0px;
	margin-bottom: 40px;
}
.abt-achievements-section h4{
	text-align: center;
	color: #fff;
	font-family: 'Manrope', sans-serif;
	font-weight: 700;
	font-size: 42px;
	letter-spacing: -0.25px;
	margin-bottom: 30px;
}
.abt-achievements-section h5{
	font-size: 86px;
	letter-spacing: -0.86px;
	margin-bottom: 15px;
	text-align: center;
	color: #00ADEF;
	font-family: 'Manrope', sans-serif;
	font-weight: 700;
}
.abt-achievements-section h6{
	color: #fff;
	font-size: 26px;
	font-family: 'Epilogue', sans-serif;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: -0.16px;
	text-align: center;
}
.services-bg{
	background: url(../images/services-bg.jpg) no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
	min-height: 222px;
	position: relative;
}
.title-section{
	padding: 50px 0px 50px 0px;
}
.title-section h2{
	color: #2E328D;
	font-family: 'Manrope', sans-serif;
	font-weight: 700;
	font-size: 42px;
	line-height: 58px;
	letter-spacing: -0.25px;
	text-align: center;
	margin-bottom: 20px;
}
.title-section p{
	color: #666;
	font-size: 16px;
	font-family: 'Epilogue', sans-serif;
	font-weight: 400;
	line-height: 26px;
	text-align: center;
	width: 50%;
	margin:0 auto;
}
.contact-bg{
	background: url(../images/contact-bg.jpg) no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
	min-height: 222px;
	position: relative;
}
.contact-section{
	padding: 80px 0px;
}
.contact-section h4{
	color: #2E328D;
	font-family: 'Manrope', sans-serif;
	font-weight: 700;
	font-size: 42px;
	line-height: 58px;
	letter-spacing: -0.25px;
	text-align: center;
	margin-bottom: 20px;
}
.inner-box{
	display: flex;
	/* align-items: center; */
	position: relative;
}
.inner-box:after{
	position: absolute;
	content: "";
	width: 1px;
	height: 65px;
	background:#d5d5d5;
	right: 0px;
}
.icon-s{
	width: 20%;
}
.cont-s{
	width: 80%;
	margin-left: 20px;
}
.cont-s h6{
	color: #000000;
	font-family: 'Manrope', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 26px;
}
.cont-s p{
	color: #666;
	font-size: 16px;
	font-family: 'Epilogue', sans-serif;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: -0.48px;
}
.top-vz{
	margin-top: 50px;
}
.cont-lef h6{
	color: #000000;
	font-family: 'Manrope', sans-serif;
	font-weight: 600;
	font-size: 32px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.cont-rig h6{
	color: #000000;
	font-family: 'Manrope', sans-serif;
	font-weight: 600;
	font-size: 32px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.map-section label{
	color: #000;
	font-size: 14px;
	font-family: 'Epilogue', sans-serif;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.2px;
	margin-top: 20px;
}
.map-section .inputz{
	border-radius: 4px !important;
	height: 40px !important;
	border:1px solid #E5E5E5 !important;
}
.map-section .inputz::placeholder{
	font-family: 'Epilogue', sans-serif;
	font-size: 13px;
	color: #B1B1B1;	
}
.map-section .inputz:focus{
	box-shadow: none !important;
}
.map-section .input-msg{
	height: 200px;
}
.map-section .input-msg:focus{
	box-shadow: none !important;
}
.map-section .input-msg::placeholder{
	font-family: 'Epilogue', sans-serif;
	font-size: 13px;
	color: #B1B1B1;	
}
.btnz{
	background: #2C2E93;
	padding: 15px 80px;
	color: #fff;
	font-family: 'Manrope', sans-serif;
	font-weight: 400;
	margin-top: 20px;
}

.gallery-section{
	padding: 80px 0px;
}
.gallery-section .col-md-4{
	margin-top: 20px;
}
.gallery-bg{
	background: url(../images/gallery-bg.jpg) no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
	min-height: 222px;
}
.register-sec{
	background: #f5f5f5;
	padding: 50px 0px;
	position: relative;
}
.inner-div{
	width: 40%;
	margin:0 auto;
	background: #fff;
	border-radius: 20px;
	padding: 40px;
}
.inner-div h4{
	color: #000;
	font-family: 'Manrope', sans-serif;
	font-weight: 600;
	font-size: 42px;
}
.inner-div p{
	font-family: 'Epilogue', sans-serif;
	font-size: 18px;
	color: #000;
	font-weight: 400;
	line-height: 28px;	
}
.register-sec label{
	color: #000;
	font-size: 14px;
	font-family: 'Epilogue', sans-serif;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.2px;
	margin-top: 20px;
}
.register-sec .inputz{
	border-radius: 4px !important;
	height: 40px !important;
	border:1px solid #E5E5E5 !important;
}
.register-sec .inputz::placeholder{
	font-family: 'Epilogue', sans-serif;
	font-size: 13px;
	color: #B1B1B1;	
}
.register-sec .inputz:focus{
	box-shadow: none !important;
}
.btn-reg{
	background: #2C2E93;
	padding: 15px 80px;
	color: #fff;
	font-family: 'Manrope', sans-serif;
	font-weight: 400;
	margin-top: 20px;
	width: 100%;
}
.inner-register{
	box-shadow: 0px 3px 16px #00000014;
}
.reg-head{
	padding: 15px 0px;
	border-bottom: 1px solid #dcdcdc;
	background: #fff;
}
.reg-head h4{
	padding-left: 40px;
	font-family: 'Epilogue', sans-serif;
	font-size: 18px;
	color: #000;
	font-weight: 500;	
}
.rtl .reg-head h4{
	padding-right: 40px;
}
.inner-reg{
	padding:40px;
	background: #fff;
}
.inner-reg input{
	background:#fcfcfc;
	border-radius: 0px;
}
.topz{
	margin-top: 30px;
}
.rtl .mirror-image {
    right: -120px;
}
.rtl .navbar-nav {
    float: left !important;
}
.rtl .social-icons{
	float: right;
}
.rtl .footer-phone:before{
	right: -20px;
}
.rtl .footer-addr:before{
	right: -20px;
}
.rtl .footer-mail:before{
	right:-20px;
}
.rtl .phone {
    margin-right: 35px !important;
}
.rtl .phone:before {
    right: -25px;
    top: -2px;
}
.rtl .navbar-default select {
    margin-right: 30px !important;
	margin-left: 0px !important;
}
.rtl .right-sec ul li {
    float: right;
}
.rtl .right-sec li {
    margin-right: 10px;
}
.rtl .left-sec li {
    margin-right: 15px;
	font-family: 'IBM Plex Sans Arabic', sans-serif;
	font-weight: 500;
}
.rtl .top-bar p {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
	font-size: 14px;
}
.rtl .right-sec li {
    margin-left: 5px;
}
.rtl .top-bar li a {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
.rtl .navbar-nav > li > a{
	font-family: 'IBM Plex Sans Arabic', sans-serif;
}
.rtl .navbar-default select {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 500;
}
.rtl .lng option{
	height: 100px;
	overflow:auto;
}
.rtl .banner h2 {
	font-family: 'IBM Plex Sans Arabic', sans-serif;
	font-weight: 400 !important;
}
.rtl .banner p {
	font-family: 'Cairo', sans-serif;
}
.rtl .job-button {
	font-family: 'IBM Plex Sans Arabic', sans-serif;
	font-weight: 600;
}
.rtl .what-we-do h3 {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
	font-weight: 600;
}
.rtl .what-we-do p {
    font-family: 'Cairo', sans-serif;
}
.rtl .what-we-do a {
	font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 500;
}
.rtl .right-inner h4 {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 500;
}
.rtl .second-section h4 {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 500;
}
.rtl .second-section p {
    font-family: 'Cairo', sans-serif;
}
.rtl .achievements h4 {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 500;
}
.rtl .achievements h6 {
    font-family: 'Cairo', sans-serif;
}
.rtl .achievements p {
    font-family: 'Cairo', sans-serif;
}
.rtl .achievements span {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 600;
    margin-left: 15px;
}
.rtl .app-section h3 {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 500;
}
.rtl .app-section p {
    font-family: 'Cairo', sans-serif;
}
.rtl .footer-section p {
    font-family: 'Cairo', sans-serif;
}
.rtl .contactz li {
    font-family: 'Cairo', sans-serif;
}
.rtl .about-first-left h3 {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 500;
}
.rtl .about-first-left p {
    font-family: 'Cairo', sans-serif;
}
.rtl .abt-achievements-section h4 {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 500;
}
.rtl .copyright p {
    font-family: 'Cairo', sans-serif;
}
.rtl .breadcr-txt h4 {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 500;
}
.rtl .breadcr-txt h6 {
    font-family: 'Cairo', sans-serif;
}
.rtl .title-section h2 {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 500;
}
.rtl .title-section p {
    font-family: 'Cairo', sans-serif;
}
.rtl .inner-box:after {
    left: 0px !important;
	right:inherit !important;
}
.rtl .cont-s {
    margin-right: 20px;
}
.rtl .contact-section h4 {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 500;
}
.rtl .cont-s h6 {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 500;
}
.rtl .cont-rig h6 {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 500;
}
.rtl .cont-lef h6 {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 500;
}
.rtl .headinz-sec a {
	float: left;
}
.btnz {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 500;
}
.select2-container {
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	position: relative;
	vertical-align: middle;
	width: 100% !important;
	margin-bottom: 50px;
  }
  /* line 1, ../scss/_single.scss */
  .select2-container .select2-selection--single {
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 38px;
	user-select: none;
	-webkit-user-select: none;
  }
  /* line 12, ../scss/_single.scss */
  .select2-container .select2-selection--single .select2-selection__rendered {
	display: block;
	padding-left: 8px;
	padding-right: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
  }
  /* line 25, ../scss/_single.scss */
  .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
	padding-right: 8px;
	padding-left: 20px;
  }
  /* line 1, ../scss/_multiple.scss */
  .select2-container .select2-selection--multiple {
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	user-select: none;
	-webkit-user-select: none;
  }
  /* line 12, ../scss/_multiple.scss */
  .select2-container .select2-selection--multiple .select2-selection__rendered {
	display: inline-block;
	overflow: hidden;
	padding-left: 8px;
	text-overflow: ellipsis;
	white-space: nowrap;
  }
  /* line 21, ../scss/_multiple.scss */
  .select2-container .select2-search--inline {
	float: left;
  }
  /* line 24, ../scss/_multiple.scss */
  .select2-container .select2-search--inline .select2-search__field {
	box-sizing: border-box;
	border: none;
	font-size: 100%;
	margin-top: 3px;
	margin-left: 3px;
  }
  /* line 31, ../scss/_multiple.scss */
  .select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
	-webkit-appearance: none;
  }
  
  /* line 1, ../scss/_dropdown.scss */
  .select2-dropdown {
	background-color: white;
	border: 1px solid #DDD;
	border-radius: 4px;
	box-sizing: border-box;
	display: block;
	position: absolute;
	left: -100000px;
	width: 100%;
	z-index: 1051;
  }
  
  /* line 18, ../scss/_dropdown.scss */
  .select2-results {
	display: block;
  }
  
  /* line 22, ../scss/_dropdown.scss */
  .select2-results__options {
	list-style: none;
	list-style-type: none !important;
	margin: 0;
	padding: 0;
  }
  
  /* line 28, ../scss/_dropdown.scss */
  .select2-results__option {
	padding: 6px;
	user-select: none;
	-webkit-user-select: none;
  }
  /* line 34, ../scss/_dropdown.scss */
  .select2-results__option[aria-selected] {
	cursor: pointer;
  }
  
  /* line 39, ../scss/_dropdown.scss */
  .select2-container--open .select2-dropdown {
	left: 0;
  }
  
  /* line 43, ../scss/_dropdown.scss */
  .select2-container--open .select2-dropdown--above {
	border-bottom: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
  }
  
  /* line 49, ../scss/_dropdown.scss */
  .select2-container--open .select2-dropdown--below {
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
  }
  
  /* line 55, ../scss/_dropdown.scss */
  .select2-search--dropdown {
	display: block;
	padding: 7px;
  }
  /* line 59, ../scss/_dropdown.scss */
  .select2-search--dropdown .select2-search__field {
	padding: 4px;
	width: 100%;
	box-sizing: border-box;
  }
  /* line 64, ../scss/_dropdown.scss */
  .select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
	-webkit-appearance: none;
  }
  /* line 69, ../scss/_dropdown.scss */
  .select2-search--dropdown.select2-search--hide {
	display: none;
  }
  
  /* line 15, ../scss/core.scss */
  .select2-close-mask {
	border: 0;
	margin: 0;
	padding: 0;
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	min-height: 100%;
	min-width: 100%;
	height: auto;
	width: auto;
	opacity: 0;
	z-index: 99;
	background-color: #fff;
	filter: alpha(opacity=0);
  }
  
  /* line 1, ../scss/theme/default/_single.scss */
  .select2-container--default .select2-selection--single {
	background-color: #f0f0f0;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px;
  }
  /* line 6, ../scss/theme/default/_single.scss */
  .select2-container--default .select2-selection--single:focus {
	outline: 0;
  }
  /* line 10, ../scss/theme/default/_single.scss */
  .select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #444;
	line-height: 34px;
  }
  /* line 15, ../scss/theme/default/_single.scss */
  .select2-container--default .select2-selection--single .select2-selection__clear {
	cursor: pointer;
	float: right;
	font-weight: bold;
  }
  /* line 21, ../scss/theme/default/_single.scss */
  .select2-container--default .select2-selection--single .select2-selection__placeholder {
	color: #999;
  }
  /* line 25, ../scss/theme/default/_single.scss */
  .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 36px;
	position: absolute;
	top: 1px;
	right: 1px;
	width: 20px;
  }
  /* line 35, ../scss/theme/default/_single.scss */
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: #888 transparent transparent transparent;
	border-style: solid;
	border-width: 5px 4px 0 4px;
	height: 0;
	left: 50%;
	margin-left: -4px;
	margin-top: -2px;
	position: absolute;
	top: 50%;
	width: 0;
  }
  /* line 56, ../scss/theme/default/_single.scss */
  .select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
	float: left;
  }
  /* line 60, ../scss/theme/default/_single.scss */
  .select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
	left: 1px;
	right: auto;
  }
  /* line 68, ../scss/theme/default/_single.scss */
  .select2-container--default.select2-container--disabled .select2-selection--single {
	background-color: #eee;
	cursor: default;
  }
  /* line 72, ../scss/theme/default/_single.scss */
  .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
	display: none;
  }
  /* line 81, ../scss/theme/default/_single.scss */
  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: transparent transparent #888 transparent;
	border-width: 0 4px 5px 4px;
  }
  /* line 1, ../scss/theme/default/_multiple.scss */
  .select2-container--default .select2-selection--multiple {
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 4px;
	border-radius: 4px;
	cursor: text;
	min-height: 34px;
  }
  /* line 7, ../scss/theme/default/_multiple.scss */
  .select2-container--default .select2-selection--multiple .select2-selection__rendered {
	box-sizing: border-box;
	list-style: none;
	list-style-type: none !important;
	padding: 0 0 0 4px !important;
	margin: 0;
	padding: 0 5px;
	width: 100%;
  }
  /* line 15, ../scss/theme/default/_multiple.scss */
  .select2-container--default .select2-selection--multiple .select2-selection__placeholder {
	color: #999;
	margin-top: 5px;
	float: left;
  }
  /* line 23, ../scss/theme/default/_multiple.scss */
  .select2-container--default .select2-selection--multiple .select2-selection__clear {
	cursor: pointer;
	float: right;
	font-weight: bold;
	margin-top: px;
	margin-right: 2px;
  }
  /* line 31, ../scss/theme/default/_multiple.scss */
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
	  color: #ffffff;
	  background-color: #00ADEF;
   border: 1px solid #ddd;
	border-radius: 2px;
	cursor: default;
	float: left;
	margin-right: 5px;
	margin-top: 1px;
	/* padding: 1px 2px 2px !important; */
	padding: 4px;
    border-radius: 4px;
  }
  /* line 46, ../scss/theme/default/_multiple.scss */
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	margin-right: 2px;
  }
  /* line 55, ../scss/theme/default/_multiple.scss */
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
	color: #333;
  }
  /* line 63, ../scss/theme/default/_multiple.scss */
  .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder {
	float: right;
  }
  /* line 67, ../scss/theme/default/_multiple.scss */
  .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
	margin-left: 5px;
	margin-right: auto;
  }
  /* line 72, ../scss/theme/default/_multiple.scss */
  .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
	margin-left: 2px;
	margin-right: auto;
  }
  /* line 80, ../scss/theme/default/_multiple.scss */
  .select2-container--default.select2-container--focus .select2-selection--multiple {
	border: 1px solid #CCC;
	outline: 0;
  }
  /* line 87, ../scss/theme/default/_multiple.scss */
  .select2-container--default.select2-container--disabled .select2-selection--multiple {
	background-color: #eee;
	cursor: default;
  }
  /* line 92, ../scss/theme/default/_multiple.scss */
  .select2-container--default.select2-container--disabled .select2-selection__choice__remove {
	display: none;
  }
  /* line 6, ../scss/theme/default/layout.scss */
  .select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
  }
  /* line 13, ../scss/theme/default/layout.scss */
  .select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
  }
  /* line 20, ../scss/theme/default/layout.scss */
  .select2-container--default .select2-search--dropdown .select2-search__field {
	border: 1px solid #DDD;
  }
  /* line 22, ../scss/theme/default/layout.scss */
  .select2-container--default .select2-search--dropdown .select2-search__field:focus {
	outline: 0;
  }
  /* line 29, ../scss/theme/default/layout.scss */
  .select2-container--default .select2-search--inline .select2-search__field {
	background: transparent;
	border: none;
	outline: 0;
  }
  /* line 36, ../scss/theme/default/layout.scss */
  .select2-container--default .select2-results > .select2-results__options {
	max-height: 200px;
	overflow-y: auto;
	padding: 2px !important;
  }
  /* line 42, ../scss/theme/default/layout.scss */
  .select2-container--default .select2-results__option[role=group] {
	padding: 0;
  }
  /* line 46, ../scss/theme/default/layout.scss */
  .select2-container--default .select2-results__option[aria-disabled=true] {
	color: #999;
  }
  /* line 50, ../scss/theme/default/layout.scss */
  .select2-container--default .select2-results__option[aria-selected=true] {
	background-color: #EEE;
  }
  /* line 54, ../scss/theme/default/layout.scss */
  .select2-container--default .select2-results__option .select2-results__option {
	padding-left: 1em;
  }
  /* line 57, ../scss/theme/default/layout.scss */
  .select2-container--default .select2-results__option .select2-results__option .select2-results__group {
	padding-left: 0;
  }
  /* line 61, ../scss/theme/default/layout.scss */
  .select2-container--default .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -1em;
	padding-left: 2em;
  }
  /* line 65, ../scss/theme/default/layout.scss */
  .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -2em;
	padding-left: 3em;
  }
  /* line 69, ../scss/theme/default/layout.scss */
  .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -3em;
	padding-left: 4em;
  }
  /* line 73, ../scss/theme/default/layout.scss */
  .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -4em;
	padding-left: 5em;
  }
  /* line 77, ../scss/theme/default/layout.scss */
  .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -5em;
	padding-left: 6em;
  }
  /* line 88, ../scss/theme/default/layout.scss */
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #4a89dc;
	color: white;
  }
  /* line 93, ../scss/theme/default/layout.scss */
  .select2-container--default .select2-results__group {
	cursor: default;
	display: block;
	padding: 6px;
  }
.date{
	width: 180px;
	margin-right: 30px;
}
.flexz{
	display: flex;
}
.timez{
	width: 180px;
	margin-right: 30px;
}
.checkz{
	width: 180px;
}

.containerz {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .containerz input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
	background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }
  .date-icon {
    position: relative;
    top: -7px;
    left: -15px;
}
.date .input-group-addon{
	background: #fff;
	border: 0px !important;
}
.timezz{
	position: relative;
    width: 180px;
    margin-right: 30px;
}
.date input{
	width: 180px;
}
.date-icon {
    position: relative;
    top: -7px;
    left: -53px;
    z-index: 1111;
}
.timez {
    width: 180px;
    margin-right: 30px;
}
.time-iconz{
	position: absolute;
    right: 19px;
    top: 50px;
}
.delivery-address {
    background: #FCFCFC;
    padding: 15px 25px;
    border: 1px solid #E5E5E5;
}
.delivery-address h6{
	font-family: 'Epilogue', sans-serif;
	font-size: 18px;
	color: #000;
	font-weight: 500;	
	margin-bottom: 15px;
}
.delivery-address p{
	font-family: 'Epilogue', sans-serif;
	font-size: 16px;
	color: #000;
	font-weight: 400;
	line-height: 26px;
	word-break: break-word;
}
.changez{
	color: #2E328D;
	font-family: 'Epilogue', sans-serif;
	font-size: 16px;
	border: 1px solid #2E328D;
	padding: 12px 30px;
	background: #fff;
	border-radius: 4px;
	margin-top: 20px;
}
.cancelz{
	color: #E63232;
	font-family: 'Epilogue', sans-serif;
	font-size: 16px;
	border: 1px solid #E63232;
	padding: 12px 30px;
	background: #fff;
	border-radius: 4px;
	margin-top: 20px;
}
.remarks textarea{
	height: 100px;
	border: 1px solid #E5E5E5;
}
.send-job{
	background: #2E328D;
	border-radius: 4px;
	color:#fff;
	font-family: 'Epilogue', sans-serif;
	font-size: 16px;
	padding: 12px 30px;
	margin-top: 30px;
	margin-left: 15px;
	border:1px solid #2E328D;
}
.cancel-job{
	background: #fff !important;
	border: 1px solid #000 !important;
	color: #000 !important;
}
.create-job-head h5{
	color:#000;
	font-family: 'Epilogue', sans-serif;
	font-size: 24px;
	line-height: 34px;
	margin-bottom: 20px;
}

/* dashboard */


.order-sec .nav-tabs {
	float: left;
	border-bottom: 0;
	width: 100%;
}
.order-sec .nav-tabs li {
	float: none;
	margin: 0;
	
}
.order-sec .nav-tabs li a {
	margin-right: 0;
	border: 0;
	border-radius: 0;
	color: #000 !important;
	font-family: 'Manrope', sans-serif;
	font-weight: 400;
	font-size: 16px;
}
.order-sec .nav-tabs li a:hover {
	background-color: #F0F0FA;
}
.nav-tabs > li.active > a{
	background-color: #F0F0FA; 
}
.order-sec .nav-tabs .glyphicon {
	color: #fff;
}
.order-sec .nav-tabs .active .glyphicon {
	color: #333;
}
.order-sec .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border: 0;
}
/* .order-sec .tab-content {
	margin-left: 45px;
} */
.order-sec .tab-content .tab-pane {
	display: none;
	background-color: #fff;
	overflow-y: auto;
}
.order-sec .tab-content .active {
	display: block;
	
}
.order-sec .list-group {
	width: 100%;
}
.order-sec .list-group .list-group-item {
	height: 50px;
}
.order-sec .list-group .list-group-item h4, .list-group .list-group-item span {
	line-height: 11px;
}
.order-sec .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 0;
    background: #f0f0f0;
	color: #2E328D !important;
	font-family: 'Manrope', sans-serif;
	font-weight: 500;
}
.order-sec table.dataTable thead .sorting:after {
    display: none;
}
.order-sec th{
	font-family: 'Manrope', sans-serif;
	font-weight: 600;
	font-size: 12px;
	color: #64748B !important;
	text-align: center;
}
.order-sec thead{
	background: #F8FAFC;
}
.order-sec td{
	text-align: center;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff !important;
}
.order-sec .table-bordered > tbody > tr > td{
	border-right: 0px !important;
}
.order-sec .table-bordered > tbody > tr > td:last-child{
	border-right:1px solid #ddd !important;
	vertical-align: middle;
}
.order-sec .tab-content .tab-pane{
	overflow-x: hidden;
}
.order-sec tbody td{
	color:#000;
	font-family: 'Epilogue', sans-serif;
	font-size: 12px;
	font-weight: 500;
}
.processing{
	background: #EBECFA;
    border-radius: 14px;
    padding: 5px 10px 3px 10px;
    width: 100px;
    margin: 0 auto;
	color: #262CAF !important;
}
.arrowz{
	position: relative;
    top: 2px;
    left: 5px;
}
.order-sec .table > tbody > tr > td{
	vertical-align: middle !important;
}
.shipped{
	background: #FFF6F0;
	border-radius: 14px;
    padding: 5px 10px 3px 10px;
    width: 100px;
    margin: 0 auto;
}
.shipped a{
	color: #FF6600 !important;
}
.delivered{
	background: #F4FAEB;
	border-radius: 14px;
    padding: 5px 10px 3px 10px;
    width: 100px;
    margin: 0 auto;
}
.delivered a{
	color: #62A300 !important;
}
.order-sec{
	margin-top: 80px;
	margin-bottom: 80px;
}
.headinz-sec{
	display: flex;
	margin-bottom: 40px;
	width: 100%;
}
.headinz-sec h2{
	font-family: 'Manrope', sans-serif;
	font-weight: 500;
	font-size: 36px;
	color: #000 !important;
	width: 50%;
}
.headinz-sec a {
    float: right;
	background: #E63232;
	padding: 10px 20px;
	color: #FFFFFF;
	font-family: 'Manrope', sans-serif;
	font-weight: 500;
	border-radius: 4px;
}
.creatz-ord{
	width: 50%;	
}
.profile-tabz{
	background: #F5F5F5;
	padding: 30px 50px;
	border-radius: 4px;
}
.inner-profile{
	display: flex;
	/* align-items: center; */
	
}
.inner-profile img {
	max-width: 150px;
	max-height: 150px;
}
.inner-pro-tex{
	margin-left: 5%;
	word-break: break-word;
}
.inner-pro-tex h5{
	color: #2E328D;
	font-family: 'Manrope', sans-serif;
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 10px;
}
.inner-pro-tex p{
	color:#000000;
	font-family: 'Epilogue', sans-serif;
	font-size: 16px;
}
.edit-btnz{
	float: right;
	background: #2E328D;
	border-radius: 4px;
	padding: 10px;
}
.edit-btnz a{
	color: #fff;
	font-family: 'Manrope', sans-serif;
	font-weight: 500;
	font-size: 16px;
}
.myaddress-sec{
	background: #F5F5F5;
	padding: 30px 50px;
	border-radius: 4px;
	margin-bottom: 20px;
}
.name-sec{
	display: flex;
}
.name-sec h6{
	color:#2E328D;
	font-family: 'Manrope', sans-serif;
	font-weight: 600;
	font-size: 20px;
}
.name-sec span{
	margin-left: 5%;
	font-family: 'Manrope', sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: #000;
}
.paz p{
	color:#000000;
	font-family: 'Epilogue', sans-serif;
	font-size: 16px;
	line-height: 26px;
	width: 95%;
	margin-top: 20px;
}
.flz {
    float: right;
    width: 70%;
}
.flz .edit-btnz{
	float: left !important;
}
.edz{
	border:1px solid #2E328D;
}
.flz a{
	color: #fff;
	font-family: 'Manrope', sans-serif;
	font-weight: 500;
	font-size: 16px;
}
.edz1{
	margin-left: 5%;
	background: transparent !important;
	border:1px solid #000000 !important;
	color: #000 !important;
}
.registerz label{
	color: #000;
    font-size: 14px;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-top: 20px;
}
.registerz .inputz{
	border-radius: 4px !important;
    height: 40px !important;
    border: 1px solid #E5E5E5 !important;
}
.prof-det{
	color: #000;
	font-family: 'Manrope', sans-serif;
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 10px;
}
.inp .inputz{
	margin-bottom: 20px;
}
.inp .inputz::placeholder{
	color: #999999;
	font-family: 'Epilogue', sans-serif;
	font-weight: 300;
}
.updatez{
	background: #E63232;
	border-radius: 4px;
	padding: 10px 20px;
	color: #fff;
	font-family: 'Manrope', sans-serif;
	font-weight: 500;
}
.order-details-sec{
	border: 1px solid #D2D4D6;
	border-radius: 4px;
	margin-bottom: 30px;
}
.order-details-head h4{
	padding:20px 30px;
	border-bottom: 0.5px solid #DBDBDB;
	color: #000;
	font-family: 'Manrope', sans-serif;
	font-weight: 600;
	font-size: 16px;
}
.order-inner{
	padding:30px;
}
.in-v{
	margin-bottom: 30px;
}
.order-inner h6{
	color:#666666;
	font-family: 'Manrope', sans-serif;
	font-weight: 700;
	font-size: 16px;
}
.order-inner h5{
	color: #000;
	font-family: 'Epilogue', sans-serif;
	font-weight: 500;
	font-size: 15px;
	margin-top: 5px;
}
.processg{
	color: #262CAF !important;
}
.in-v p{
	color: #000000;
	font-family: 'Epilogue', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	margin-top: 10px;
}
.right-v h5{
	text-align: right;
}
.right-v h6{
	text-align: right;
}
.mg-b{
	margin-bottom: 0px !important;
}
.wizd{
	width: 100% !important;
}
.wizd label{
	margin-top: 5px !important;
}
.policies p{
	color: #666666;
    font-size: 16px;
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 15px;
}
.policies li{
	color: #666666;
    font-size: 16px;
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 15px;
	list-style-type: none;
}
.policies h4{
	color: #000000;
	font-family: 'Epilogue', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 10px;
}
.whatsapp{
	position: fixed;
    bottom: 30px;
    right: 20px;
}

.logout_link {
	padding: 10px 15px;
	width: 100%;
}

.logout_link:hover {
	text-decoration: none;
}

/*#addAddress {
	display:none;
}*/

.address_list {
	padding-left: 50px;
}
/* .order-sec .nav-tabs .active{
	background-color: #F0F0FA !important;
} */
/* dashboard */

::-webkit-calendar-picker-indicator {
    filter: invert(22%) sepia(44%) saturate(1766%) hue-rotate(208deg) brightness(93%) contrast(99%);
	font-size: 23px;
}

.signup_section {
	padding-top: 15px;
	text-align: center;
	font-size: 16px;
}

.login_signup_link {
	color: #00ADEF;
}

.address-default-badge {
	margin-bottom: 10px;
}

.address-default-badge .badge {
	background: #e63232;
}

.form-mobile {
	display: flex;
}

.mobile-country-code {
	width: 75px;
	margin-right: 5px;
}

.address-null {
	color: #000;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
}

.form-horizontal .form-group {
	margin-left: 0px;
}

.datepicker-days .disabled {
	background: #ccc;
}

.rtl .inner-pro-tex {
	margin-right: 5%;
}

.rtl .inner-pro-tex {
	margin-left: 0%;
}

@media (min-width: 1300px) and (max-width: 1700px) {
	.banner h2 {
		font-size: 80px;
	}
	.mirror-image {
		width: 22%;
		left:-190px;
	}
	.second-section h4{
		font-size: 36px;
		line-height: 46px;
		letter-spacing: -0.25px;
	}
	.achievements h4{
		font-size: 36px;
		line-height: 46px;
		letter-spacing: -0.25px;
	}
	.app-section h3{
		font-size: 50px;
	}
	.cont-s p{
		font-size:14px;
	}
	.cont-lef h6{
		font-size:32px;
	}
	.cont-rig h6{
		font-size:32px;
	}
	.inner-div h4{
		font-size: 32px;
	}
	.inner-div p{
		font-family: 'Epilogue', sans-serif;
		font-size: 16px;
		line-height: 26px;	
		margin-top: 20px;
		margin-bottom: 30px;
	}
	.rtl .mirror-image {
		width: 22%;
		right: -190px;
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	.zz {
		padding-left: 2%;
		padding-right: 2%;
	}
	.right-sec {
		width: 50%;
	}
	.left-sec {
		width: 50%;
	}
	.banner .row {
		display: block;
	}
	.banner {
		padding: 50px 0px;
	}
	.banner h2 {
		font-size: 80px;
	}
	.what-we-do {
		padding: 50px 0px 50px 0px;
	}
	.left-head{
		margin-bottom: 20px;
	}
	.what-we-do .row{
		display: block;
	}
	.mirror-image{
		display: none;
	}
	.second-section img{
		width: 100%;
	}
	.second-section h4 {
		font-size: 42px;
		line-height: 50px;
		margin-top: 15px;
	}
	.second-section p {
		padding-top: 20px;
	}
	.achievements {
		padding: 50px 0px;
	}
	.achievements .row {
		display: block;
	}
	.achievements p {
		padding-bottom: 0px;
	}
	.achievements h6 {
		font-size: 20px;
		margin-top: 25px;
	}
	.achievements span {
		font-size: 60px;
	}
	.achievements img{
		width: 100%;
		margin-top: 20px;
	}
	.app-section .row {
		display: block;
	}
	.app-section p {
		width: 100%;
	}
	.footer-section {
		padding: 40px 0px 30px 0px;
	}
	.contactz h5 {
		margin-top: 30px;
	}
	.about-first {
		display: block;
		padding: 50px 0px;
	}
	.about-first-left {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.about-first-right {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.left-val {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	.about-first-left h3 {
		margin-top: 20px;
	}
	.abt-achievements-section h5 {
		margin-bottom: 0px;
	}
	.abt-achievements-section h6 {
		margin-bottom: 20px;
	}
	.title-section p {
		width: 90%;
	}
	.contact-section {
		padding: 50px 0px;
	}
	.inner-box {
		margin-bottom: 20px;
	}
	.gallery-section {
		padding: 50px 0px;
	}
	.inner-div {
		width: 100%;
	}
	.order-sec .nav-tabs {
		float: none;
		margin-bottom: 30px;
	}
	.inner-profile {
		margin-bottom: 20px;
	}
	.flz {
		float: none;
		width: 100%;
		margin-top: 30px;
	}
	.right-v h6, .right-v h5 {
		text-align: left;
	}
	.mg-b {
		margin-bottom: 30px !important;
	}
}
@media (min-width: 320px) and (max-width: 767px) {
	.top-bar{
		display: block;
	}
	.left-sec {
		width: 100%;
	}
	.right-sec {
		width: 100%;
		margin-top: 15px;
	}
	.right-sec ul li:first-child{
		margin-left: 0px !important;
	}
	.navbar-nav {
		float: left !important;
		display: block;
	}
	.navbar-nav > li > a {
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.navbar-brand > img {
		width: 80%;
	}
	.navbar-default .navbar-toggle {
		border-color: #00ADEF !important;
		border-radius: 0px !important;
		margin-top: 12px;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #00ADEF !important;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #fff !important;
	}
	.banner .row {
		display: block;
	}
	.banner h2 {
		font-size: 60px;
	}
	.banner {
		padding: 50px 0px;
	}
	.job-button {
		margin-top: 15px;
		margin-bottom: 30px;
	}
	.what-we-do {
		padding: 30px 0px 30px 0px;
	}
	.what-we-do h3 {
		font-size: 32px;
		line-height: 42px;
	}
	.right-inner h4 {
		font-size: 17px;
	}
	.what-we-do p{
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.inner-section p {
		font-size: 14px !important;
		line-height: 20px !important;
	}
	.right-inner {
		margin-left: 20px;
	}
	.what-we-do a{
		font-size: 15px;
	}
	.mirror-image {
		display: none;
	}
	.second-section h4 {
		font-size: 32px;
		line-height: 42px;
		margin-top: 20px;
	}
	.second-section p {
		padding-top: 15px;
	}
	.achievements {
		padding: 30px 0px;
	}
	.achievements h4 {
		font-size: 32px;
		line-height: 42px;
	}
	.achievements .row {
		display: block;
	}
	.achievements p {
		padding-bottom: 0px;
	}
	.achievements h6 {
		font-size: 20px;
		line-height: 30px;
		margin-top: 20px;
	}
	.achievements span {
		font-size: 50px;
	}
	.achievements img{
		margin-top: 30px;
	}
	.app-section h3 {
		font-size: 36px;
		margin-bottom: 10px;
	}
	.app-section .row {
		display: block;
	}
	.app-section p {
		width: 100%;
		font-size: 17px;
    	line-height: 28px;
	}
	.footer-section {
		padding: 40px 0px 30px 0px;
	}
	.contactz h5 {
		margin-bottom: 10px;
		margin-top: 30px;
	}
	.about-first {
		display: block;
		padding: 30px 0px;
	}
	.about-first-left h3 {
		font-size: 32px;
		margin-top: 10px;
	}
	.about-first-left {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.about-first-left p {
		margin-top: 12px;
	}
	.about-first-right {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		margin-top: 20px;
	}
	.abt-achievements-section {
		padding: 40px 0px;
	}
	.abt-achievements-section h4 {
		font-size: 32px;
		margin-bottom: 10px;
	}
	.abt-achievements-section h6 {
		font-size: 22px;
		margin-bottom: 15px;
	}
	.abt-achievements-section h5 {
		font-size: 70px;
		margin-bottom: 0px;
	}
	.title-section {
		padding: 30px 0px 0px 0px;
	}
	.title-section h2 {
		font-size: 32px;
		line-height: 42px;
		margin-bottom: 10px;
	}
	.title-section p {
		width: 90%;
	}
	.left-val {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	.contact-section {
		padding: 30px 0px;
	}
	.contact-section h4 {
		font-size: 32px;
		line-height: 42px;
	}
	.inner-box {
		margin-bottom: 20px;
	}
	.top-vz {
		margin-top: 0px;
	}
	.cont-lef h6 {
		font-size: 28px;
		margin-top: 20px;
		margin-bottom: 0px;
	}
	.cont-rig h6 {
		font-size: 28px;
		margin-top: 30px;
		margin-bottom: 15px;
	}
	.gallery-section {
		padding: 30px 0px;
	}
	.inner-div {
		width: 100%;
	}
	.inner-div h4 {
		font-size: 32px;
		margin-bottom: 10px;
	}
	.inner-div p {
		font-size: 16px;
		line-height: 26px;
	}
	.left-head{
		margin-bottom: 20px;
	}
	.right-sec li {
		margin-left: 8px;
	}
	.flexz {
		display: block;
	}
	.phone {
		margin-left: 25px !important;
	}
	.top-bar li a {
		font-size: 16px;
	}
	.right-sec ul {
		float: left;
	}
	.navbar-collapse.in {
		overflow-y: inherit !important;
	}
	.order-sec .nav-tabs {
		float: none;
		margin-bottom: 30px;
	}
	.headinz-sec {
		display: block;
	}
	.headinz-sec h2 {
		width: 100%;
		margin-bottom: 20px;
	}
	.creatz-ord {
		width: 100%;
	}
	.headinz-sec a {
		float: none;
	}
	.inner-profile {
		margin-bottom: 20px;
		display: block;
		text-align: center;
	}
	.edit-btnz {
		margin-top: 5px;
	}
	.profile-tabz, .myaddress-sec {
		padding: 20px;
	}
	.flz {
		float: none;
		width: 100%;
		margin-top: 30px;
	}
	.btn-reg {
		padding: 15px 15px;
	}
	.right-v h6, .right-v h5 {
		text-align: left;
	}
	.mg-b {
		margin-bottom: 30px !important;
	}
	.user_name {
		width: 100%;
		margin-bottom: 20px;
	}
}
.lab-head{
    color: #FF6600 !important;
}